/* Palette from https://catppuccin.com/palette */
:root {
  --red: #d20f39;
  --green: #40a02b;
  --text: #4c4f69;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --red: #ed8796;
    --green: #a6da95;
    --text: #cad3f5;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
  }
}

html {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text);
  background-color: var(--base);
}

body {
  margin: 0;
}

/* Navbar */

nav {
  padding: 5px 10px;
  background-color: var(--crust);
  display: grid;
  align-items: center;
  grid-template:
    "sidebar-toggle title ."
    / 50px 1fr 50px;
}

nav button {
  height: 50px;
  width: 50px;
  grid-area: sidebar-toggle;
  border-radius: 10px;
  color: var(--text);
  border: 1px solid var(--text);
  background-color: var(--crust);
}

nav button:hover {
  background-color: var(--surface0);
}

nav button svg {
  display: block;
  margin: auto;
  height: 35px;
  width: 35px;
}

nav h1 {
  grid-area: title;
  text-align: center;
}

/* Sidebar */

#container {
  display: flex;
  flex-direction: row;
  position: relative;
}

#sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--mantle);
  overflow-x: hidden;
  transition: width 0.3s;
  border-right: 1px solid var(--crust);
}

main {
  width: 100%;
  transition: margin-left 0.3s;
  margin: 10px;
}

#container[data-sidebar-open] #sidebar {
  width: 350px;
}

#container[data-sidebar-open] main {
  margin-left: 360px;
}

@media screen and (max-width: 660px) {
  #container[data-sidebar-open] #sidebar {
    width: 100%;
  }

  #container[data-sidebar-open] main {
    margin-left: 10px;
  }
}

/* Cart */

#cart {
  padding: 15px;
}

#cart h2 {
  margin: 10px 0;
}

#cart-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#cart-items .empty {
  font-style: italic;
  margin: 0;
}

.cart-item {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--crust);
  background-color: var(--base);
  align-items: center;
  display: grid;
  grid-template:
    "name minus count plus"
    / 1fr 2rem 2rem 2rem;
}

.cart-item .name {
  grid-area: name;
  font-weight: bold;
}

.cart-item .minus {
  grid-area: minus;
  height: 2.2rem;
  color: var(--crust);
  background-color: var(--red);
  border: 1px solid var(--crust);
  border-radius: 5px 0 0 5px;
}

.cart-item .minus:active {
  color: var(--red);
  background-color: var(--mantle);
}

.cart-item .minus svg {
  display: block;
  margin: auto;
  height: 1.2rem;
  width: 1.2rem;
}

.cart-item .count {
  grid-area: count;
  height: 2.2rem;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  line-height: 2.2rem;
  color: var(--text);
  background-color: var(--mantle);
  border-top: 1px solid var(--crust);
  border-bottom: 1px solid var(--crust);
}

.cart-item .plus {
  grid-area: plus;
  height: 2.2rem;
  color: var(--crust);
  background-color: var(--green);
  border: 1px solid var(--crust);
  border-radius: 0 5px 5px 0;
}

.cart-item .plus:active {
  color: var(--green);
  background-color: var(--mantle);
}

.cart-item .plus svg {
  display: block;
  margin: auto;
  height: 1.2rem;
  width: 1.2rem;
}

#buy {
  width: fit-content;
  margin-top: 20px;
  padding: 5px 20px;
  color: var(--crust);
  background-color: var(--green);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

#buy:disabled {
  color: var(--text);
  background-color: var(--surface0);
}

/* Products */

#products {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(max(30%, 300px), 1fr));
}

#products .empty {
  font-style: italic;
}

.product {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--crust);
  background-color: var(--mantle);
  display: grid;
  gap: 6px;
  grid-template:
    "name price"
    "description description" minmax(50px, 1fr)
    "stock add-to-cart"
    / 1fr 1fr;
}

.product p {
  margin: 0;
}

.product .name {
  grid-area: name;
  font-weight: bold;
  font-size: larger;
}

.product .price {
  grid-area: price;
  text-align: end;
}

.product .description {
  grid-area: description;
}

.product .stock {
  grid-area: stock;
  color: var(--red);
  margin-top: auto;
}

.product .stock[data-in-stock] {
  color: var(--green);
}

.product .add-to-cart {
  grid-area: add-to-cart;
  justify-self: end;
  color: var(--crust);
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 5px 20px;
}

.product .add-to-cart svg {
  display: block;
  margin: auto;
  height: 1.5rem;
  width: 1.5rem;
}

.product .add-to-cart:active {
  color: var(--green);
  background-color: var(--mantle);
}

.product .add-to-cart:disabled {
  color: var(--text);
  background-color: var(--surface0);
}
