/* Palette from https://catppuccin.com/palette */
:root {
  --mauve: #8839ef;
  --red: #d20f39;
  --green: #40a02b;
  --text: #4c4f69;
  --subtext0: #6c6f85;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mauve: #c6a0f6;
    --red: #ed8796;
    --green: #a6da95;
    --text: #cad3f5;
    --subtext0: #a5adcb;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
  }
}

html {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text);
  background-color: var(--base);
}

body {
  margin: 0;
}

button:focus,
input:focus {
  outline: 3px solid var(--mauve);
}

/* Navbar */

nav {
  padding: 5px 10px;
  background-color: var(--crust);
  display: grid;
  align-items: center;
  grid-template-columns: 50px 1fr 50px;
}

nav button {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  color: var(--text);
  border: 1px solid var(--text);
  background-color: var(--crust);
}

nav button:hover {
  background-color: var(--surface0);
}

nav button svg {
  display: block;
  margin: auto;
  height: 35px;
  width: 35px;
}

nav h1 {
  text-align: center;
}

/* Sidebar */

#container {
  display: flex;
  flex-direction: row;
  position: relative;
}

#sidebar {
  height: 100%;
  width: 350px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -350px;
  background-color: var(--mantle);
  overflow-x: hidden;
  transition: left 0.3s;
  border-right: 1px solid var(--crust);
}

main {
  width: 100%;
  transition: margin-left 0.3s;
  margin: 10px;
}

#container[data-sidebar-open] #sidebar {
  left: 0;
}

#container[data-sidebar-open] main {
  margin-left: 360px;
}

@media screen and (max-width: 660px) {
  #sidebar {
    width: calc(100% - 1px);
    left: -100%;
    transition: left 0.3s, width 0.3s;
  }

  #container[data-sidebar-open] main {
    margin-left: 10px;
  }
}

#sidebar-content {
  padding: 15px;
}

#sidebar-content h2 {
  margin: 10px 0;
}

/* Cart */

#cart-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#cart-items .empty {
  font-style: italic;
  margin: 0;
}

.cart-item {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--crust);
  background-color: var(--base);
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2rem 2rem 2rem;
}

.cart-item .name {
  font-weight: bold;
  margin-right: 5px;
}

.cart-item .minus {
  height: 2.2rem;
  color: var(--crust);
  background-color: var(--red);
  border: 1px solid var(--crust);
  border-radius: 5px 0 0 5px;
}

.cart-item .minus:active {
  color: var(--red);
  background-color: var(--mantle);
}

.cart-item .minus svg {
  display: block;
  margin: auto;
  height: 1.2rem;
  width: 1.2rem;
}

.cart-item .count {
  height: 2.2rem;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  line-height: 2.2rem;
  color: var(--text);
  background-color: var(--mantle);
  border-top: 1px solid var(--crust);
  border-bottom: 1px solid var(--crust);
}

.cart-item .plus {
  height: 2.2rem;
  color: var(--crust);
  background-color: var(--green);
  border: 1px solid var(--crust);
  border-radius: 0 5px 5px 0;
}

.cart-item .plus:active {
  color: var(--green);
  background-color: var(--mantle);
}

.cart-item .plus svg {
  display: block;
  margin: auto;
  height: 1.2rem;
  width: 1.2rem;
}

#buy {
  width: fit-content;
  margin-top: 20px;
  padding: 5px 20px;
  color: var(--crust);
  background-color: var(--green);
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

#buy:disabled {
  color: var(--text);
  background-color: var(--surface0);
}

/* Orders */

#orders {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#orders .empty {
  font-style: italic;
  margin: 0;
}

.order {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--crust);
  background-color: var(--base);
  align-items: center;
  display: grid;
  gap: 5px;
  grid-template-columns: auto 1fr 2rem;
}

.order .name {
  font-weight: bold;
}

.order .paid-badge {
  height: 1.5rem;
  color: var(--red);
}

.order[data-paid] .paid-badge {
  color: var(--green);
}

.order .paid-badge svg {
  height: 1.5rem;
  width: 1.5rem;
}

.order .open-recap {
  justify-self: end;
  color: var(--crust);
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 10px 10px;
}

.order .open-recap svg {
  display: block;
  margin: auto;
  height: 1.5rem;
  width: 1.5rem;
}

.order .open-recap:active {
  color: var(--green);
  background-color: var(--mantle);
}

/* Products */

#products {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(max(30%, 300px), 1fr));
}

#products .empty {
  font-style: italic;
}

.product {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--crust);
  background-color: var(--mantle);
  display: grid;
  gap: 6px;
  grid-template:
    "name price"
    "description description" minmax(50px, 1fr)
    "stock add-to-cart"
    / 1fr 1fr;
}

.product p {
  margin: 0;
}

.product .name {
  grid-area: name;
  font-weight: bold;
  font-size: larger;
}

.product .price {
  grid-area: price;
  text-align: end;
}

.product .description {
  grid-area: description;
}

.product .stock {
  grid-area: stock;
  color: var(--red);
  margin-top: auto;
}

.product .stock[data-in-stock] {
  color: var(--green);
}

.product .add-to-cart {
  grid-area: add-to-cart;
  justify-self: end;
  color: var(--crust);
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 5px 20px;
}

.product .add-to-cart svg {
  display: block;
  margin: auto;
  height: 1.5rem;
  width: 1.5rem;
}

.product .add-to-cart:active {
  color: var(--green);
  background-color: var(--mantle);
}

.product .add-to-cart:disabled {
  color: var(--text);
  background-color: var(--surface0);
}

/* Dialogs */

::backdrop {
  background-color: #eff1f5;
  opacity: 0.9;
}

@media (prefers-color-scheme: dark) {
  ::backdrop {
    background-color: #24273a;
  }
}

dialog {
  width: min(600px, 100% - 60px);
  color: var(--text);
  background-color: var(--mantle);
  border: 1px solid var(--crust);
  border-radius: 10px;
  padding: 30px;
}

@media screen and (max-width: 660px) {
  dialog {
    margin-right: 0;
    margin-left: 0;
  }
}

dialog h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

dialog form {
  display: grid;
  gap: 15px;
  align-items: center;
  grid-template-columns: auto 1fr;
}

dialog form h3 {
  margin: 0;
  margin-top: 10px;
  grid-column: 1 / 3;
}

dialog form input[type="text"],
dialog form input[type="email"],
dialog form input[type="number"] {
  color: var(--text);
  background-color: var(--base);
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 5px;
}

dialog form input::placeholder {
  color: var(--subtext0);
  opacity: 0.8;
}

dialog form input[type="submit"] {
  justify-self: end;
  font-size: 1.1rem;
  color: var(--crust);
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 5px 20px;
  margin-top: 15px;
  grid-column: 2 / 3;
}

dialog form input[type="submit"]:active {
  color: var(--green);
  background-color: var(--mantle);
}
